.main {
  font-size: 20px;
  color: rgb(94, 91, 91);
}

.select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px 20px 12px 40px;
  font-size: 17px;
  color: rgb(94, 91, 91);
}

.options {
  color: rgb(94, 91, 91);
  font-size: 17px;
}
